In [1]:
import pandas as pd

In [2]:
gdp_data = pd.read_csv('dataset/gdp_csv.csv')

In [3]:
gdp_data.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10